.intro {
  display: flex;
  margin-top: 6rem;
  margin-bottom: 10rem;
}

/* left side styling */
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 4rem;
  font-family: Copperplate, Papyrus, fantasy;
}
.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
  font-family: Copperplate, Papyrus, fantasy;
}
.i-name > :nth-child(3) {
  font-weight: bold;
  font-size: 1rem;
  color: var(--orange);
  margin-top: 10px;
}
.i-name > :nth-child(4) {
  font-weight: 100;
  font-size: 15px;
  color: var(--gray);
}
.i-button {
  width: 6rem;
  height: 2rem;
}
.i-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}
.i-icons > * {
  transform: scale(0.6);
}
.i-icons > *:hover {
  cursor: pointer;
}
/* right side styling */
.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(1.2);
  left: 15%;
  top: -20%;
}
.i-right > :nth-child(2) {
  top: 8rem;
  transform: scale(0.3);
  left: 20rem;
}

/* blur */
.blur {
  position: absolute;
  width: 60rem;
  height: 30rem;
  border-radius: 70%;
  background: rgb(58, 6, 58);
  filter: blur(100px);
  z-index: -9;
  top: -5%;
  left: 20%;
  filter: blur(40px);
}

@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
    gap: 3rem;
    height: 50rem;
  }

  .i-right {
    transform: scale(0.7);
    left: -3rem;
  }
  .i-right .blur {
    width: 20rem;
  height: 20rem;
  border-radius: 60%;
  background: rgb(97, 21, 97);
  filter: blur(100px);
  }
  .i-icons{
    transform: scale(0.8);
    margin-top: 20px;
    width: 100px;
  }
}
@media screen and (max-width: 568px) {
  .i-icons{
    transform: scale(0.5);
  }  
}
@media screen and (max-width: 2000px) {
  .i-right > :nth-child(1) {
    top: -10%;
  }
  
}
