.experience {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 25vh;
    margin-bottom: 3rem;
    padding: auto;
    margin-top: 5rem;
}

.achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 5.7rem;
    height: 5.7rem;
    background: white;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.circle::before {
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom, rgb(132, 54, 132) 0%, rgb(133, 50, 133) 0%);
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    position: absolute;
    z-index: -1;
    box-shadow: var(--boxShadow);
}

.achievement span:nth-of-type(2) {
    color: var(--orange);
}


@media screen and (max-width: 768px) {
    .experience {
        height: auto;
        transform: scale(0.3);
        margin-top: 40rem;
    }
}

@media screen and (max-width: 1970px) {
    .experience {
        height: auto;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 335px) {
    .experience {
        transform: scale(0.2);
        margin-top: 50rem;

    }
}